*{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.618em;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-image: url('images/yeshi-kangrang-PM_VwL2ypes-unsplash.jpg') no-repeat center center fixed;
    margin-top: 3em;
}


h1, h2, h3 {
    color: #666;
}


header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}


header {
    padding: 2em 2em;
}

header h1 {
    font-size: 3em;
}

header span {
    font-size: 1.5;
    color: #999;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;

    background-color: #333;
}

nav a {
    padding: .5em 2em;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background: #666;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    max-width: 70vw;
    min-width: 150px;
    margin: 2vw auto;
    margin-top: 0;
    padding: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2em;
}


section > p {
    margin: 1em, 0;
}

section ul {
    padding-left: 1.5;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

#projects article{
    background: #ccc;
    padding: 1em;
}

#projects article img{
    border: 1px solid #333;
}

.projectHeader {
    grid-column: 1 / -1;
    margin-top: 0;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em, 0;
    text-align: center;
}